div.tooltip{
    margin: 5px;
    padding: 5px;
    position: absolute;

    border: black, solid, 1px;
    box-shadow: 2px 2px 1em black;
    border-radius: 3px;
    background: gold;

    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;

}  